.container-fluid{
    padding: 0px;}
.icon{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
:root{
    --margin-right: 0px;
}
/*CSS for navbar-left*/
.fb_logo{
    background: red;
    margin-left: 15px;
}
.search-button{
    display: flex;
    justify-content: center;
}
/*CSS for navbar-right*/

.account{
    background: red;
    margin-right: 15px;
}
.notifications{
    background: yellow;
    margin-right: var(--margin-right);
}
.messages{
    background: red;
    margin-right: var(--margin-right);
}
.menu{
    background: yellow;
    margin-right: var(--margin-right);
}

/**CSS for navbar-center*/
.home{
    background: yellow;
}
.watch{
    background: red;
}
.marketplace{
    background: yellow;
}
.groups{
    background: red;
}
.games{
    background: yellow;
}
.navbar-center-list{
    margin-right: 0px !important;
}
.navbar-center{
    justify-content: center;
}
.home-icon,
.watch-icon,
.marketplace-icon,
.groups-icon,
.games-icon{
    font-size: 33px;
}
/*CSS for navbar-right*/
.navbar-right{
    flex-direction: row;
}
.menu-icon{
    font-size: 30px;
}
.notifications-icon{
    font-size: 28px;
}
.account-icon{
    font-size: 40px;
}
.messages-icon{
    font-size: 25px;
}