.container-fluid,
.fb-navbar .col-md-4{
    padding: 0px;
}
.fb-navbar .row{
    background: #a1a1a1;
}
.fb-navbar .navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    padding-left: 10px;
    color: white;
}
.fb-navbar .navbar-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: white;
}
.fb-navbar .navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding-right: 10px;
    color: white;
}
.icon{
    width: 40px;
    height: 40px;
}
:root{
    --margin-right: 10px;
}
.fb_logo{
    background: red;
    margin-left: 15px;
}
/*CSS for navbar-right*/
.search_icon{
    background: yellow;
    margin-left: 10px;
}
.account{
    background: red;
    margin-right: 15px;
}
.notifications{
    background: yellow;
    margin-right: var(--margin-right);
}
.messages{
    background: red;
    margin-right: var(--margin-right);
}
.menu{
    background: yellow;
    margin-right: var(--margin-right);
}